# See http://help.github.com/ignore-files/ for more about ignoring files.

__pycache__/
*.py[cod]
*$py.class

# compiled output
/dist
/tmp
/out-tsc
/venv
/static
/config/constant.py
/migrations
# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json



/clientsFeed/amazon/csv/*
/clientsFeed/amazon/txt/*
/clientsFeed/amazon/xml/*

/clientsFeed/globalFeed/Feed/*

/clientsFeed/facebook/csv/*
/clientsFeed/facebook/txt/*
/clientsFeed/facebook/xml/*

/clientsFeed/google/csv/*
/clientsFeed/google/txt/*
/clientsFeed/google/xml/*

/clientsFeed/zentrada/csv/*
/clientsFeed/zentrada/txt/*
/clientsFeed/zentrada/xml/*

/clientsFeed/custom/*


/config/__pycache__
/resources/__pycache__
/model/__pycache__
/helpers/__pycache__
/__pycache__

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
